@import "../vendor/susy/susy";
@import "../vendor/breakpoint/breakpoint";

$susy: (
    columns: $grid-num-cols, 
    gutters: $grid-gutters, 
    math: fluid
);

$screen-xs: max-width 480px;
$screen-sm: 481px 767px;
$screen-md: 768px 991px;
$screen-lg: 992px 1279px;
$screen-xl: min-width 1280px;
$screen-pro: 767px 1367px;

$breakpoint-mobile: 767px;
$breakpoint-tablet: 991px;
$breakpoint-pro: 1366px;
$breakpoint-desktop: 1169px;


@if $grid-responsive == false {
    html, body {
        min-width: $grid-content-width + ($grid-content-width * (gutter()/100%) * 2);
    }
}

.container {
    @include container($grid-content-width);
    @if $grid-responsive == true {
        // padding-left: gutter();
        // padding-right: gutter();
    } @else {
        width: $grid-content-width;
    }
}

.row {
    width: 100%;

    &:after {
        display: block;
        clear: both;
        content: '';
    }
}

$columns: map-get($susy, columns);

@for $i from 1 through $columns {
    .span#{$i} {
        @include span($i of $columns);
    }
}
@for $i from 1 through $columns {
    .offset#{$i} {
        @include push($i);
    }
}

.row {
    > [class^=span] {
        @include box-sizing(border-box);
    }
    > [class^=span]:last-child {
        @include last;
    }
    @if $grid-responsive == true {
        @include breakpoint(max-width $breakpoint-mobile) {
            > [class^=span] {
                @include span($columns);
            }
        }
    }
}

@include breakpoint($screen-xs) {
    .hidden-xs {
        display: none !important;
    }
    .visible-xs {
        display: block !important;
    }
    table.visible-xs {
        display: table;
    }
    tr.visible-xs {
        display: table-row !important;
    }
    th.visible-xs,
    td.visible-xs {
        display: table-cell !important;
    }
    .visible-sm,
    .visible-md,
    .visible-lg,
    .visible-xl {
        display: none !important;
    }
}

@include breakpoint($screen-sm) {
    .hidden-sm {
        display: none !important;
    }
    .visible-sm {
        display: block !important;
    }
    table.visible-sm {
        display: table;
    }
    tr.visible-sm {
        display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm {
        display: table-cell !important;
    }
    .visible-xs,
    .visible-md,
    .visible-lg,
    .visible-xl {
        display: none !important;
    }
}

@include breakpoint($screen-md) {
    .hidden-md {
        display: none !important;
    }
    .visible-md {
        display: block !important;
    }
    table.visible-md {
        display: table;
    }
    tr.visible-md {
        display: table-row !important;
    }
    th.visible-md,
    td.visible-md {
        display: table-cell !important;
    }
    .visible-xs,
    .visible-sm,
    .visible-lg,
    .visible-xl {
        display: none !important;
    }
}

@include breakpoint($screen-lg) {
    .hidden-lg {
        display: none !important;
    }
    .visible-lg {
        display: block !important;
    }
    table.visible-lg {
        display: table;
    }
    tr.visible-lg {
        display: table-row !important;
    }
    th.visible-lg,
    td.visible-lg {
        display: table-cell !important;
    }
    .visible-xs,
    .visible-sm,
    .visible-md,
    .visible-xl {
        display: none !important;
    }
}

@include breakpoint($screen-xl) {
    .hidden-xl {
        display: none !important;
    }
    .visible-xl {
        display: block !important;
    }
    table.visible-xl {
        display: table;
    }
    tr.visible-xl {
        display: table-row !important;
    }
    th.visible-xl,
    td.visible-xl {
        display: table-cell !important;
    }
    .visible-xs,
    .visible-sm,
    .visible-md,
    .visible-lg {
        display: none !important;
    }
}
@include breakpoint($screen-pro) {
    .hidden-pro {
        display: none !important;
    }
    .visible-pro {
        display: block !important;
    }
    table.visible-pro {
        display: table;
    }
    tr.visible-pro {
        display: table-row !important;
    }
    th.visible-pro,
    td.visible-pro {
        display: table-cell !important;
    }
    .visible-xs,
    .visible-sm,
    .visible-md {
        display: none !important;
    }
}

@if $grid-responsive == true {
    @include breakpoint(max-width $breakpoint-desktop) {
        .container {
            @include container(1000px);
        }
    }
}